@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Black.woff2") format("woff2"), url("../fonts/Lato/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
body{
	text-align: center;
}
.text{
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
	border: 1px solid black;
	max-width: 300px;
}
.hover-text:hover{
	color: red;
	border: 1px solid red;
}
.active-text:hover{
	cursor: pointer;
	background-color: rgb(236, 223, 223);
}
	.active-text:active{
	color: green;
	border: 1px solid green;
	transform: scale(1.2);
	transition: 0.5s;
			}
	.text_main{
		text-align: left;
		/* margin-bottom: 30px; */
	}
	.visibility-text:hover{
	cursor: pointer;
	background-color: rgb(236, 223, 223);
	}
	.visibility-text:active{
		visibility: hidden;
	}
	.visibility-text_display-none:hover{
		cursor: pointer;
		background-color: rgb(236, 223, 223);
	}
	.visibility-text_display-none:active{
		visibility: hidden;
		display: none;
	}
	a:hover{
		text-decoration: underline;
	}
	a:visited{
		color: rgb(44, 236, 60);
	}
		.link:focus{
		outline: 1px solid red;
	}
	.text-target{
		display: none;
	}
	.text-target:target{
		display: block;
	}
	.text-p{
		max-width: 600px;
		text-align-last: left;
	}
	.text-p p:not(:last-child){
		margin-bottom: 15px;
	}
	.text-p p:first-child{
		text-transform: uppercase;
	}
		.text-p p:first-of-type {
		color: rgb(50, 153, 250);
	}
	.text-p p:last-child {
		color: rgb(224, 133, 13);
	}
	.text-p p:last-of-type {
		text-transform: uppercase;
	}
	.text-p p:nth-child(2){
		background-color: #77608d;
	}
	.text-p p:nth-child(4){
		background-color: #43e7df;
	}
	.text-p-01{
		max-width: 900px;
		margin-bottom: 50px;
	}
	.text-p-01 p:not(:last-child){
	padding-bottom: 10px;
	}
	.text-p-01 p:nth-child(odd){
		background-color: #43e7df;
	}
	ol{
		margin-left: 20px;
		margin-bottom: 50px;
		counter-reset: item;
		font-size: 30px;
	}
	ol li::before{
		counter-increment: item;
		content: counter(item) ". ";
		display: inline-block;
		margin-right: 5px;
		color: green;
	}
	h3{
		font-size: 30px;
		font-weight: 600;
	}
	.wriper {
		max-width: 600px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		margin: 0 auto;
		text-align: left;
		color: #424551;
	}
	h2{
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
		color: #1E212C;
		margin-bottom: 40px;
	}
	.lesson-text {
		line-height: 25.6px;
		margin-bottom: 48px;
	}
	h3{
		font-weight: 700;
		font-size: 28px;
		line-height: 150%;
		color: #1E212C;
		margin-bottom: 24px;
	}
	.list {
	}
	.list ul{
		margin-bottom: 50px;
	}
	.list	ul li{
				margin-bottom: 4px;
				padding-left: 32px;
				background: url('../img/icons/Vector.svg')  no-repeat 0 6px / 16px;
				min-height: 16px; 
				display: inline-block;
			}
			h4{
				font-weight: 700;
				line-height: 150%;
				color: #1E212C;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 8px;
			}
h2{
	font-weight: 700;
	line-height: 150%;	
	color: #1E212C;
	letter-spacing: 1px;
	margin-bottom: 8px;

}	
.title-2{
	margin-bottom: 16px; 
}		
	.lesson-text-1 {
		font-size: 20px;
		line-height: 150%;
		color: #787A80;
		margin-bottom: 32px;
	}
	.list-2 {
	}
	.list-2 ul{
		margin-bottom: 32px;
		font-weight: 700;
		line-height: 26px;
	}
	.list-2 ul li{
		margin-bottom: 4px;
	}
	.list-2 ul li:nth-child(1)::before{
				background: url('../img/icons/Star.svg')   0 0px no-repeat; 
				content: "";
				display: inline-block;
				width: 16px;
				height: 16px;
				min-height: 18px;
				padding-left: 24px;
			}
			.list-2 ul li:nth-child(2)::before{
				background: url('../img/icons/Vector1.svg')  0 0px no-repeat; 
				content: "";
				display: inline-block;
				width: 16px;
				height: 16px;
				min-height: 18px; 
				padding-left: 24px;
			}
			.list-2 ul li:nth-child(3)::before{
				background: url('../img/icons/Vector2.svg')   0 0px no-repeat; 
				content: "";
				display: inline-block;
				width: 16px;
				height: 16px;
				min-height: 18px; 
				padding-left: 24px; 
				}
				.lesson-9 img{
					display: block;
					margin: 0 auto;
				}

				
